numpy
pandas
scikit_learn
scipy
torch
torchaudio
torchinfo
transformers
timm
mne
einops
padasip
pyriemann
h5py
natsort
termcolor
tqdm
gdown
hydra-core
omegaconf
clearml
black
wandb
encodec
julius
mne-bids
segmentation_models_pytorch
librosa==0.9.2
optuna
attrdict
hydra-joblib-launcher
dill
statsmodels